.topline
	position relative
	z-index 4
	background-color #fbfbfb 
	&__container
		// @extends .in
		padding-top 18px
		padding-bottom 18px
		padding-left 0
		padding-right 0
		display flex
		justify-content flex-start
		align-items center
		// +r($sm)
		// 	padding-top 18px
		// 	padding-left 0
		// 	padding-right 0
		// 	padding-bottom 18px
			
		+rmin($sm)
			padding-left 15px
			padding-right 15px
			
		+rmin($md)
			padding-top 3px
			padding-bottom 3px
			padding-left 0
			padding-right 15px
			
		+rmin($lg)
			padding-top 10px
			padding-bottom 10px
			padding-left 15px
			padding-right 15px

	// &__col
	// 	display flex
	// 	align-items center
		
	&__city
		position relative
		margin-right 16px
		padding-left 26px
		// max-width 120px
		min-width 120px		
		height 100%
		display flex
		align-items center
		flex-grow 1
		flex-shrink 1 
		
		flex-basis 120px 
		font-family $r
		font-weight 500 
		font-size 14px
		line-height 1.571
		white-space nowrap 
		// overflow hidden
			
		// +rmin($sm)
		// 	max-width 100%
		// 	margin-left 18px
		// 	margin-right 40px

		+rmin($md)
			margin-left 18px
			margin-right 24px
			min-width 150px 
			max-width 162px 
			
		+rmin($lg)
			margin-left 3px
			padding-left 32px
			min-width 246px 
			max-width 370px
			flex-grow 0
			flex-basis auto
			
	&__city-icon
		position absolute
		top 50%
		left 0
		// margin-right 9px
		margin-right 6px
		margin-left 4px
		width 16px
		height 20px
		fill #adaead
		transform translateY(-50%)
		
		// +rmin($sm)
		// 	margin-right 0
		// 	margin-left 0
		
		+rmin($md)
			margin-right 0
			margin-left 0

	&__city-text
		display none
		padding-right 5px
		color #787878
		font-weight 400
		// +rmin($sm)
		// 	display none
			
		+rmin($lg)
			display block
		
	&__city-link
		position relative
		padding-right 17px
		color #0d62ad
		font-weight 500
		text-decoration none
		text-overflow ellipsis
		// +rmin($sm)
		// 	overflow inherit
		span
			position relative
			overflow hidden
			text-overflow ellipsis
			
			+rmin($md)
				padding-bottom 4px
				height 100%
				overflow inherit
				display block
				
			+rmin($lg)
				padding-bottom 1px
				

			&:after
				position absolute
				content '' 
				top 100%
				left 0
				width 100%
				height 1px
				display none
				background #ced3d7
				tr(background .3s ease)
				
				+rmin($md)
					top auto
					bottom 0
					display block
				
		&:hover
			&:after
				background transparent
				tr(background .3s ease)
				
	&__city-arrow
		position absolute
		top 50%
		right 0
		width 11px
		height 6px
		fill #000000
		transform translateY(-50%)
		
		+rmin($xl)
			display none
				
		// 	border-bottom 1px solid transparent 
		

	&__phone
		position relative
		margin-left auto
		padding-right 17px
		color #222223
		font-family $a
		font-size 16px
		font-weight 600
		line-height 1.5
		white-space nowrap
		text-decoration none
		text-overflow ellipsis
		overflow hidden
		
		// +rmin($md)
		// 	display none

	&__phone_state
		
		+rmin($md)
			display none
			
	&__phone-icon
		position absolute
		top 50%
		right 0
		width 9px
		height 5px
		fill #777777
		transform translateY(-50%)
		

	&__nav
		display none

		+rmin($md)
			display flex
			order -1
			
		+rmin($lg)
			order unset


	&__social
		display none
		
		+rmin($md)
			margin-right 10px
			display flex	
			
		+rmin($xl)
			display none


	&__personal-w
		margin-left auto
		display none
		align-items center
		
		+rmin($md)
			display flex
		

	&__button
		margin-right 22px
		padding-top 11px
		padding-right 17px
		padding-bottom 8px
		padding-left 17px
		display none
		white-space nowrap
		
		+rmin($md)
			margin-right 0
			padding-top 13px
			padding-right 12px
			padding-bottom 8px  
			padding-left 11px
			display flex
			font-size 13px
		
		+rmin($lg)
			padding-top 10px
			padding-right 18px
			padding-left 18px
			font-size 14px	

	&__personal
		display flex
		align-items center
		color #0d62ad
		font-family $r
		font-size 14px
		
		+rmin($md)
			margin-right 0
			margin-left 12px
			
		+rmin($lg)
			margin-left 21px
		
	&__user
		position relative
		padding-right 15px	
		padding-left 32px
		display none
		color #0d62ad
		font-weight 500
		text-decoration none
		
		+rmin($md)
			padding-right 6px
			padding-left 34px
			display flex
				
		+rmin($lg)
			padding-right 15px

		&:after
			position absolute
			content ''	
			top 50%
			right 0	
			width 1px
			height 20px
			background-color #c4c4c4
			transform translateY(-50%)
			
			+rmin($md)
				display none
			
			+rmin($lg)
				display block
				
	&__user-icon
		position absolute
		top 50%
		left 0
		width 20px
		height 20px
		fill #616365
		transform translateY(-50%)		
		
		+rmin($md)
			width 24px
			height 24px
			

	&__user-logout
		padding-left 15px
		display none
		color #333333
		text-decoration none
		
		+rmin($md)	
			display none
		
		+rmin($lg)
			padding-left 17px
			display block
		
		
		

