.popup
	position relative
	margin auto
	padding-top 20px
	padding-left 30px
	padding-right 30px
	padding-bottom 40px
	max-width 540px
	background #FFF 
	&__title
		margin-bottom 20px
		font-size 20px
		line-height 1.4

	// &__tabs
		
	.mfp-close
		color #8B9095
