.contacts
	position relative
	padding-left 32px

	&__icon
		position absolute
		top 5px
		left 0
		width 16px
		height 16px
	
	&__phone,
	&__email
		display block
		text-decoration none
		white-space nowrap

	&__phone
		margin-bottom 5px
		padding-right 20px
		color #222223
		font-family $a
		font-size 18px
		font-weight 600
		line-height 1.333
		
		+rmin($md)
			padding-right 16px
		
		&:hover
			color lighten(#222223, 10)
		
	&__phone-icon
		position absolute
		top 8px
		right 2px
		width 10px
		height 7px
		
	&__email
		color #8b9095
		font-family $r
		font-size 16px
		font-weight 400
		line-height 1.5
		tr(color .3s ease)
		
		&:hover
			color darken(#8b9095, 10)
			tr(color .3s ease)
			

.contacts_secondary
	padding-left 0
	
	+rmin($md)
		display flex
		flex-wrap wrap
		align-items center

	+rmin($lg)
		position relative
		padding-left 60px
		padding-right 22px
		align-items flex-start
		
	&:after
		+rmin($lg)
			position absolute
			top 0
			left 0
			content ''
			width 1px
			height 210px
			background-color #eeeeee 
		
	.contacts__title
		margin-bottom 10px
		+rmin($md)
			margin-bottom 20px
			width 100%
			
		+rmin($lg)
			margin-bottom 24px
		
	.contacts__w
		+rmin($md)
			position relative
		

	.contacts__phone
		font-weight 500
		
		+rmin($md)
			margin-bottom 10px
			
		&:last-child
			
			+rmin($md)
				margin-bottom 0
				
	.contacts__email
		margin-top 10px
		color #8b9095
		
		+rmin($md)
			position absolute
			top calc(50% - 5px)
			right -158px
			margin-top 0
			transform translateY(-50%)
			
		+rmin($lg)
			position static
			margin-top 28px
			display block
			
		
	.contacts__button
		margin-top 20px
		margin-right 20px
		border none
		padding-top 16px
		padding-right 0
		padding-bottom 10px
		padding-left 0
		display flex
		justify-content center
		font-family $a 
		font-weight 600 
		font-size 15px
		letter-spacing 0
		text-align center
		text-transform none
		box-shadow none
		
		+rmin($md)
			margin-top -10px
			margin-right 7px
			margin-left auto
			padding-left 30px
			padding-right 30px
			font-size 16px
		
		+rmin($lg)
			margin-top 8px
			margin-left 0
			margin-right 0
	
		