.page
	position relative
	min-height 100vh
	display flex
	flex-direction column
	background-color #ffffff
	color #555555
	font-display swap
	font-family $o
	font-size 14px
	font-weight 400
	line-height 1
	&__inner
		// flex 0 1 auto
		flex 1 0 auto
		
	&__nav-bg
		position absolute
		content "" 
		z-index 0
		top 0
		left 0
		width 100%
		height 100%
		display none
		background-color rgba(0, 0, 0, .5)
		box-shadow 0 0 16px rgba(0, 0, 0, 0.08)
	
	&__nav-bg_active
		display block

	&__popup-bg
		box-shadow 0 0 16px rgba(0, 0, 0, 0.08)
		background-color rgba(0, 0, 0, .4)

.in
	margin-right auto
	margin-left auto
	padding-left 15px
	padding-right 15px
	width 100%
	+r($sm)
		padding-left 0
		padding-right 0
		max-width 100%
	+rmin($sm)
		// max-width 540px
		padding-left 15px
		padding-right 15px
		max-width 100%
	+rmin($md)
		// max-width 720px 
		max-width 100%
			
	+rmin($lg)
		max-width 960px
	+rmin($xl)
		max-width 1200px
		

.title
	color #333333
	font-size 24px
	font-weight 600
	font-family $a
	line-height 1.5
	a
		position relative
		color #268ae1
		text-decoration none
		&:after
			position absolute
			content "" 
			top 100%
			left 0
			width 100%
			height 1px
			background #268AE1 
			
.title_small
	color #000000
	font-size 18px
	line-height 1.555 
	
			
img
	max-width 100%
	height auto
	

.button
	resetbutton()
	border 2px solid #d3d3d3
	height 40px
	display inline-block
	vertical-align middle
	color #0d62ad
	font-weight 600
	text-align center
	text-decoration none
	border-radius 4px
	tr(color .3s ease)
	&:hover
		color darken(#0d62ad, 10)
		tr(color .3s ease)
	
.button_biggest
	height 50px
	background-color #268ae1
	color #ffffff
	font-family $aB
	font-size 14px
	font-weight 700
	letter-spacing 1.12px
	line-height 1
	text-transform uppercase
	border-radius 4px
	box-shadow 0 4px 8px rgba(38, 138, 225, 0.15)
	tr(background-color .3s ease)
	&:hover
		color #ffffff
		background-color darken(#268ae1, 10)
		tr(background-color .3s ease)

.wysiwyg
	h2,
	h3
		margin-top 60px

		margin-bottom 24px
		color #000000
		font-size 22px
		font-weight 400
		letter-spacing 1px
		line-height 1.3
	h3
		margin-top 30px

	p
		margin-top 30px
		color #817f7f
		font-size 18px
		font-weight 400
		line-height 1.38

	ul
		margin-top 30px
		margin-bottom 35px
		margin-left 30px
		li
			color #817f7f
			font-size 18px
			font-weight 400
			line-height 1.38
