.page
	position relative
	min-height 100vh
	display flex
	flex-direction column
	background-color #ffffff
	color #555555
	font-display swap
	font-family $o
	font-size 14px
	font-weight 400
	line-height 1
	&__w
		overflow hidden
	&__inner
		// flex 0 1 auto
		flex 1 0 auto
		
	&__nav-bg
		position absolute
		content "" 
		z-index 2
		top 0
		left 0
		width 100%
		height 100%
		display none
		background-color rgba(0, 0, 0, .5)
		box-shadow 0 0 16px rgba(0, 0, 0, 0.08)
	
	&__nav-bg_active
		display block

	&__popup-bg
		box-shadow 0 0 16px rgba(0, 0, 0, 0.08)
		background-color rgba(0, 0, 0, .4)

.in
	margin-right auto
	margin-left auto
	padding-left 15px
	padding-right 15px
	width 100%
	+r($sm)
		padding-left 15px
		padding-right 15px
		// max-width 320px
		max-width 100%
	+rmin($sm)
		// max-width 540px
		padding-left 15px
		padding-right 15px
		// max-width 320px
		max-width 100%
	+rmin($md)
		max-width 758px 
		// max-width 100%
			
	+rmin($lg)
		max-width 960px
	+rmin($xl)
		max-width 1200px
		

.title
	color #333333
	font-size 20px
	font-weight 600
	font-family $a
	line-height 1.5
	+rmin($sm)
		font-size 24px
	a
		position relative
		padding-bottom 2px
		color #268ae1
		text-decoration none
		box-shadow inset 0 -1px 0 0 #268AE1 
		tr(all .3s ease)
		&:hover
			box-shadow none
			tr(all .3s ease)
			
			
	&.title_small
		color #000000
		font-size 18px
		line-height 1.555 
	

img
	max-width 100%
	height auto
	

.button
	resetbutton()
	border 2px solid #d3d3d3
	height 40px
	display inline-block
	vertical-align middle
	color #0d62ad
	font-weight 600
	text-align center
	text-decoration none
	cursor pointer
	border-radius 4px
	tr(all .3s ease)
	&:hover
		color darken(#0d62ad, 10)
		tr(all .3s ease)

.button_big
	resetbutton()
	background-color #268ae1
	color #ffffff
	font-family $aB 
	letter-spacing 0.88px
	text-transform uppercase
	&:hover
		color #fff
		box-shadow 0 4px 8px rgba(38, 138, 225, 0.15)
		background-color darken(#268ae1, 10)
		
.button_disabled
	resetbutton()
	background-color #eaf4fc
	color #268ae1
	font-family $aB 
	letter-spacing 0.88px
	text-transform uppercase
	&:hover
		color #268ae1
		background-color #eaf4fc
	
.button_biggest
	resetbutton()
	height 50px
	background-color #268ae1
	color #ffffff
	font-family $aB
	font-size 14px
	font-weight 700
	letter-spacing 1.12px
	line-height 1
	text-transform uppercase
	border-radius 4px
	tr(all .3s ease)
	&:hover
		color #ffffff
		background-color darken(#268ae1, 10)
		box-shadow 0 4px 8px rgba(38, 138, 225, 0.15)
		tr(all .3s ease)

.button_border
	resetbutton()
	border 1px solid #268ae1
	background-color #fff
	color #268ae1
	font-family $a
	font-weight 500 
	letter-spacing 0.96px
	text-transform uppercase
	&:hover
		color #fff
		background-color #268ae1



.wysiwyg
	color #555555
	font-family $o
	font-size 14px
	font-weight 400
	line-height 1.571
	h1
		margin-bottom 18px
		color #333333
		font-family $a
		font-size 20px
		font-weight 600
		line-height 1.4
		
	h2
		margin-bottom 18px
		color #333333
		font-family $a
		font-size 20px
		font-weight 600
		line-height 1.4
		
		+rmin($md)
			font-size 24px
		
	// h3
	// 	margin-top 60px

	// 	margin-bottom 24px
	// 	color #000000
	// 	font-size 22px
	// 	font-weight 400
	// 	letter-spacing 1px
	// 	line-height 1.3
	// h3
	// 	margin-top 30px
		
	a
		color #0d62ad
		text-decoration none
		
	p
		margin-bottom 22px
		line-height 1.58

	// ul
	// 	margin-top 30px
	// 	margin-bottom 35px
	// 	margin-left 30px
	// 	li
	// 		color #817f7f
	// 		font-size 18px
	// 		font-weight 400
	// 		line-height 1.38
