$advantages-badge-left = 25px 92px
$advantages-badge-right = 22px 92px
$arrow-down = 12px 8px
$arrow-right-rounded = 7px 10px
$arrow-right = 8px 14px
$badge = 11px 22px
$burger-close-icon = 17px 17px
$burger-icon = 16px 14px
$chart-icon = 20px 20px
$city-icon = 16px 20px
$close-icon = 20px 20px
$facebook-icon = 36px 36px
$fav-icon = 20px 20px
$instagram-icon = 36px 36px
$mastercard-icon = 28px 22px
$phone-icon = 16px 16px
$phone = 20px 20px
$presence = 14px 10px
$search-icon = 19px 19px
$types-summer = 20px 20px
$types-winter = 22px 20px
$tyres-all = 22px 20px
$user-icon = 24px 24px
$view-icon = 22px 16px
$visa-icon = 45px 15px
$vk-icon = 36px 36px
$work = 20px 20px
$ymoney-icon = 19px 24px
$youtube-icon = 36px 36px


svgSize($icon)
	width $icon[0]
	height $icon[1]