extends /blocks/layout-default/layout-default

include /blocks/icon/icon
include /blocks/header/header


include /blocks/map/map
include /blocks/brands/brands
include /blocks/featured/featured
include /blocks/news/news
include /blocks/popular-cars/popular-cars
include /blocks/popular-sizes/popular-sizes
include /blocks/text/text

include /blocks/footer/footer
include /blocks/popup/popup



block head
	- var pageTitle = 'Index';

block content
	.page__nav-bg
	+header()


	// start page inner
	.page__inner
		+map()
		+brands()
		+featured()
		+news()
		+popular-cars()
		+popular-sizes()

		+text()

	// end page inner

	+footer()
	+popup-auth()#auth.mfp-hide
	
	