.tabs
	display block
	&__nav
		margin-bottom 0
		display inline-block
		vertical-align middle
		font-size 0
		white-space normal
		+r($tL)
			vertical-align top
		+r($t)
			display block
	&__item
		position relative
		display inline-block
		vertical-align top
		&.tabs__item_active
			.tabs__link
				color #000
		&:last-child
			.tabs__link
				&:before
					display none
	&__link
		position relative
		margin-right 18px
		padding-right 16px
		display block
		vertical-align middle
		color #B3B3B3
		font-family $s
		font-size 24px
		line-height 1.8
		text-transform uppercase
		tr(all .3s ease)
		+r($tL)
			font-size 18px
			line-height 1.7
		+r($t)
			padding-left 0
		&:before
			position absolute
			z-index 1
			top 50%
			right 0
			display block
			width 12px
			height 16px
			color #b3b3b3
			font-size 24px
			font-family $s
			font-weight normal
			text-transform uppercase
			opacity 1
			line-height 1
			transform translateY(calc(-50% - 4px))
			content '/'
			+r($tL)
				font-size 18px
				transform translateY(calc(-50% - 1px))
			+r($t)
				transform translateY(calc(-50% - 1px))
		&:hover,
		&:focus
			color #000
			text-decoration none
		+r($t)
			margin-right 6px
			padding-right 21px
			padding-left 0
			font-size 18px
		+r($m)
			margin-right 6px
			padding-left 0
	&__tab
		display none
		tr(all .3s ease)
	&__tab_active
		display block
		font-size 14px
		tr(all .3s ease)
