mixin brands()
	section.brands&attributes(attributes)
		.brands__container.container
			h2.brands__title.title Популярные бренды шин и <a href="#">дисков</a>

			.brands__brands
				a.brands__brand(href="#")
					figure.brands__image
						img(src="assets/images/content/car-brand-1.png", alt="brand")
					span.brands__name Continental

				a.brands__brand(href="#")
					figure.brands__image
						img(src="assets/images/content/car-brand-2.png", alt="brand")
					span.brands__name Yokohama

				a.brands__brand(href="#")
					figure.brands__image
						img(src="assets/images/content/car-brand-3.png", alt="brand")
					span.brands__name Hankook
				a.brands__brand(href="#")
					figure.brands__image
						img(src="assets/images/content/car-brand-4.png", alt="brand")
					span.brands__name Nokian
				a.brands__brand(href="#")
					figure.brands__image
						img(src="assets/images/content/car-brand-5.png", alt="brand")
					span.brands__name Matador
				a.brands__brand(href="#")
					figure.brands__image
						img(src="assets/images/content/car-brand-6.png", alt="brand")
					span.brands__name Cordiant
				a.brands__brand(href="#")
					figure.brands__image
						img(src="assets/images/content/car-brand-1.png", alt="brand")
					span.brands__name Continental