mixin cards()
	article.col-12.featured__card.card

		.card__inner
			.card__size 13-17"

			.card__meta
				a.card__fav(href="#")
					+icon('fav-icon', true).card__fav-icon
				a.card__views(href="#")
					+icon('view-icon', true).card__views-icon
				a.card__compare(href="#")
					+icon('chart-icon', true).card__compare-icon

			a.card__image(href="#")
				img(src="assets/images/content/tyre.jpg", alt="tyre")

			.card__season
				+icon('types-winter', true).card__season-icon
				.card__season-text Зимняя

			.card__badges
				.card__badge.badge.badge_sale
					.badge__w
						+icon('badge', true).badge__icon 
						span.badge__text акция
				.card__badge.badge.badge_best
					.badge__w
						+icon('badge', true).badge__icon 
						span.badge__text лучшая цена
				.card__badge.badge.badge_recommend
					.badge__w
						+icon('badge', true).badge__icon 
						span.badge__text рекомендуем

			a.card__title(href="#")
				span Nokian Hakka Black 205/50 ZR16 91W XL

			.card__availability.card__availability_low В наличии: мало

			.card__bottom
				.card__price 5 230 руб.
				a.card__button.button.button_big(href="#") В корзину


	article.col-12.featured__card.card
		.card__inner
			.card__size 13-17"

			.card__meta
				a.card__fav(href="#")
					+icon('fav-icon', true).card__fav-icon
				a.card__views(href="#")
					+icon('view-icon', true).card__views-icon
				a.card__compare(href="#")
					+icon('chart-icon', true).card__compare-icon

			a.card__image(href="#")
				img(src="assets/images/content/tyre.jpg", alt="tyre")

			.card__season
				+icon('tyres-all', true).card__season-icon
				.card__season-text Всесезонная

			.card__badges
				.card__badge.badge.badge_sale
					.badge__w
						+icon('badge', true).badge__icon 
						span.badge__text акция
				.card__badge.badge.badge_best
					.badge__w
						+icon('badge', true).badge__icon 
						span.badge__text лучшая цена
				

			a.card__title(href="#")
				span Nokian Hakka Black 195/50 ZR16 91W XL

			.card__availability.card__availability_high В наличии: много

			.card__bottom
				.card__price 3 230 руб.
				a.card__button.button.button_big(href="#") В корзину


	article.col-12.featured__card.card.card_out
		.card__inner
			.card__size 13-17"

			.card__meta
				a.card__fav(href="#")
					+icon('fav-icon', true).card__fav-icon
				a.card__views(href="#")
					+icon('view-icon', true).card__views-icon
				a.card__compare(href="#")
					+icon('chart-icon', true).card__compare-icon

			a.card__image(href="#")
				img(src="assets/images/content/tyre.jpg", alt="tyre")

			.card__season
				+icon('types-summer', true).card__season-icon
				.card__season-text Летняя

			a.card__title(href="#")
				span Yokohama 107ZL 315/70 R22,5 156/152L 

			.card__availability.card__availability_none нет в наличии

			.card__bottom
				.card__price 4 230 руб.
				a.card__button.button.button_disabled(href="#") Уведомить


	article.col-12.featured__card.card
		.card__inner
			.card__size 13-17"

			.card__meta
				a.card__fav(href="#")
					+icon('fav-icon', true).card__fav-icon
				a.card__views(href="#")
					+icon('view-icon', true).card__views-icon
				a.card__compare(href="#")
					+icon('chart-icon', true).card__compare-icon


			a.card__image(href="#")
				img(src="assets/images/content/tyre.jpg", alt="tyre")

			.card__season
				+icon('tyres-all', true).card__season-icon
				.card__season-text Всесезонная


			.card__badges
				.card__badge.badge.badge_sale
					.badge__w
						+icon('badge', true).badge__icon 
						span.badge__text акция
				.card__badge.badge.badge_recommend
					.badge__w
						+icon('badge', true).badge__icon 
						span.badge__text рекомендуем

			a.card__title(href="#")
				span Goodyear Wrangler SilentArmor 275/60 R20

			.card__availability.card__availability_high В наличии: 12 шт

			.card__bottom
				.card__price 6 230 руб.
				a.card__button.button.button_big(href="#") В корзину


	article.col-12.featured__card.card
		.card__inner
			.card__size 13-17"
			.card__meta
				a.card__fav(href="#")
					+icon('fav-icon', true).card__fav-icon
				a.card__views(href="#")
					+icon('view-icon', true).card__views-icon
				a.card__compare(href="#")
					+icon('chart-icon', true).card__compare-icon


			a.card__image(href="#")
				img(src="assets/images/content/tyre.jpg", alt="tyre")

			.card__season
				+icon('tyres-all', true).card__season-icon
				.card__season-text Всесезонная

			.card__badges
				.card__badge.badge.badge_sale
					.badge__w
						+icon('badge', true).badge__icon 
						span.badge__text акция
				.card__badge.badge.badge_best
					.badge__w
						+icon('badge', true).badge__icon 
						span.badge__text лучшая цена
				

			a.card__title(href="#")
				span Nokian Hakka Black 195/50 ZR16 91W XL

			.card__availability.card__availability_high В наличии: много

			.card__bottom
				.card__price 3 230 руб.
				a.card__button.button.button_big(href="#") В корзину