.header
	position fixed
	z-index 3
	top 0
	left 0
	width 100%
	background #fff
	// box-shadow 0 2px 3px rgba(0, 0, 0, 0.4)
	box-shadow 0 1px 4px rgba(0, 0, 0, 0.1)
	&__in
		padding-top 15px
		padding-bottom 15px
		display flex
		justify-content flex-start
		align-items center
		+r($tS)
			min-width 800px
	// &__logo
	// 	margin-right 81px
	// 	+rmin($tM)
	// 		margin-right 190px
	&__nav
		margin-left 81px
		// padding-top 11px
		+r($tS)
			margin-left 20px

		+rmin($tM)
			margin-left 190px

	&__h-user
		margin-left auto

.header_auth
	position absolute
	background transparent
	box-shadow none
	.header__in
		padding-top 60px
		padding-right 54px
		padding-bottom 60px
		padding-left 54px





.h-user
	position relative
	z-index 1
	display flex
	align-items center
	text-decoration none
	cursor pointer
	&:hover .h-user__dropdown,
	&:focus .h-user__dropdown
		visibility visible
		opacity 1
		tr(opacity .3s ease)
	&__link
		position absolute
		z-index 1
		top 0
		right 0
		bottom 0
		left 0
		width 100%
		height 100%
		color #6e7274
		text-decoration none
	&__email
		position relative
		margin-right 20px
		padding-right 14px
		color #616161
		font-family $m
		font-size 15px
		font-weight 500
		letter-spacing 0.1px
		&:after
			position absolute
			top calc(50% + 1px)
			right 0
			width 0
			height 0
			content ''
			border-style solid
			border-width 4px 4px 0 4px
			border-color #616161 transparent transparent transparent
			opacity .75
			transform translateY(-50%)
	&__user-pic
		width 40px
		height 40px
		border-radius 50%

	&__dropdown
		position absolute
		top 100%
		left -92px
		width 256px

		visibility hidden
		opacity 0
		//background #FFF
		box-shadow 0 3px 4px rgba(10, 31, 68, 0.1), 0 0 1px rgba(10, 31, 68, 0.08)
		background-color #ffffff
		tr(opacity .3s ease)

	&__dropdown-item
		&:hover
			.h-user__dropdown-link
				border 1px solid #0db6ff
				// margin-left -1px
				// margin-right -1px
				padding-left 14px
				padding-right 14px
				color #0e0e0e
				tr(padding-left .3s ease)
		&:last-child
			.h-user__dropdown-link
				position relative
				&:after
					position absolute
					top 0
					left 6px
					right 6px
					content ''
					height 1px
					background-color rgba(0, 0, 0, 0.06)

	&__dropdown-item_active
		.h-user__dropdown-link
			border 1px solid #0db6ff
			// margin-left -1px
			// margin-right -1px
			padding-left 14px
			padding-right 14px
			color #0e0e0e
			tr(padding-left .3s ease)

	&__dropdown-link
		border 1px solid transparent
		padding-top 14px
		padding-bottom 14px
		padding-left 22px
		padding-right 22px
		display block
		color #777777
		font-size 14px
		font-weight 500
		line-height 20px
		text-decoration none
		tr(padding-left .3s ease)


	&__auth
		border 2px solid transparent
		margin-right 5px
		padding-top 8px
		padding-right 27px
		padding-bottom 7px
		padding-left 27px
		height 34px
		color #0db6ff
		font-size 14px
		font-weight 500
		letter-spacing 0.82px
		text-transform uppercase
		text-decoration none
		border-radius 42px
		tr(border .3s ease)
		&:last-child
			margin-right 0
		&:hover
			border 2px solid #0db6ff
			tr(border .3s ease)
	&__auth_active
		border 2px solid #0db6ff

.h-user_active
	.h-user__dropdown
		visibility visible
		opacity 1
		tr(opacity .3s ease)
