.header
	position relative
	z-index 5
	background-color #ffffff
	box-shadow 0 0 16px rgba(0, 0, 0, 0.08)
	&__topline
		padding-left 15px
		padding-right 15px
		
		+rmin($md)
			padding-left 0
			padding-right 0
			

	&__body
		position relative
		z-index 3
		border-top 1px solid #E1E1E1
		border-bottom 1px solid #E1E1E1
		// padding-left 15px
		// padding-right 15px 
		padding-top 0
		padding-bottom 0 
		height 53px

		+rmin($md)
			padding-top 15px
			padding-bottom 0
			height auto
			
		+rmin($lg)
			padding-top 12px
			padding-left 15px

	&__container
		// @extends .in
		padding-left 0
		padding-right 0
		display flex
		
		+rmin($md)
			padding-left 15px
			padding-right 15px
			flex-wrap wrap
			
		+rmin($lg)
			padding-left 7px
			padding-right 15px
		
	&__logo
		// margin-top 14px
		margin-top -5px
		
		margin-right 10px
		// margin-bottom 10px
		margin-bottom 0
		margin-left 10px
		max-width 128px
		display flex
		flex-grow 1
		flex-shrink 0
		flex-basis 128px
		width 100%
		display block
		
		+rmin($md)
			margin-top 0
			margin-right 20px
			margin-bottom 0
			margin-left 0
			max-width 210px
			
		+rmin($lg)
			margin-right 39px
			max-width 245px
	
	&__search
		margin-top -5px
		min-width 104px
		
		+rmin($md)
			margin-top 2px 
			margin-right 26px
			max-width 270px
			height 44px
			
		+rmin($lg)
			margin-top -1px
			margin-right 32px
			max-width 400px
		
	&__social
		display none
	&__social_show
		
		+rmin($lg)
			display flex

	&__contacts
		display none
		
		+rmin($md)
			margin-left auto
			margin-right 10px
			display block
		
		+rmin($lg)
			margin-top -4px
			

	&__w
		display flex
		flex-grow 1
		align-items center
		
		+rmin($md)
			position relative
			z-index 1
			flex-wrap nowrap

	&__nav
		order -1
		
		+rmin($md)
			margin-top 14px
			margin-left 5px
			order unset
			
		+rmin($lg)
			margin-top 12px
		
	&__button
		margin-bottom 20px
		padding-top 12px
		padding-right 12px
		padding-bottom 9px
		padding-left 12px
		font-size 13px


.header_fixed_true
	position fixed
	top 0
	left 0
	width 100%