.news
	background-color #f9fafb
	&__container
		padding-top 28px
		padding-bottom 40px
		
		+rmin($md)
			padding-top 44px

		

		+rmin($lg)
			padding-top 50px
			padding-bottom 50px
			
	&__title
		margin-bottom 19px
		
		+rmin($md)
			margin-left 5px			

		+rmin($lg)
			margin-bottom 20px
		
	&__articles
		position relative
		
		margin-left -7px
		margin-right -2px

	&__article
		margin-bottom 30px
		height 370px
		background transparent 
		
		padding-left 10px
		padding-right 10px

		+rmin($md)
			height 380px
		
		+rmin($lg)
			margin-bottom 40px
		
	&__button-w
		text-align center

	&__button
		padding-top 16px
		padding-right 13px
		padding-bottom 10px
		padding-left 16px
		font-family $a
		font-size 16px
		font-weight 500
		text-transform none
		letter-spacing 0

	&__arrow 
		resetbutton()
		position absolute
		z-index 1
		top calc(50% - 20px)
		width 40px
		height 40px
		box-shadow 0 6px 14px rgba(0, 0, 0, 0.08)
		background-color #ffffff
		border-radius 50%
		transform translateY(-50%)
		
		+rmin($md)
			display none
			
	&__arrow-icon
		position absolute
		top 50%
		left 50%
		width 8px
		height 12px
		transform translate(-50%, -50%) 
		
	&__arrow_prev
		left 0
		.news__arrow-icon
			left calc(50% - 2px)
	&__arrow_next
		right 0
		.news__arrow-icon
			left calc(50% + 2px)
			transform translate(-50%, -50%) rotate(180deg) 