.card
	border none
	padding-bottom 30px
	padding-left 1px
	padding-right 1px

	+rmin($md)
		padding-left 0
		padding-right 0
		
	&:hover
		.card__inner
			position relative
			z-index 1
			box-shadow 0 10px 36px rgba(64, 78, 84, 0.15)
			tr(all .3s ease)
			
	&__inner
		position relative
		// margin-left -1px
		// margin-right -1px
		padding-top 22px
		padding-right 25px
		padding-bottom 20px
		padding-left 25px
		border 1px solid #e9ecee
		display flex
		height 100%
		flex-direction column

		background-color #ffffff
		box-shadow none
		tr(all .3s ease)
		
		+rmin($md)
			padding-top 25px
			padding-left 15px
			padding-right 15px
			padding-bottom 20px
			box-shadow none
			
		+rmin($lg)
			margin-right 15px
			margin-left 15px
			padding-left 24px
			padding-right 16px
		
			
	&__size
		position absolute
		top 15px
		right 25px
		color #7f878e
		font-weight 600 
		
		+rmin($md)
			top 16px
			right 14px
			
		+rmin($lg)
			top 17px
			right 18px
		
	&__meta
		position absolute
		top 55px
		right 25px
		
		+rmin($md)
			top 56px
			right 14px
			
		+rmin($lg)
			right 18px

	&__fav
		margin-bottom 12px
		display block
		cursor pointer
		
	&__fav_active
		.card__fav-icon
			stroke #268AE1
			// stroke red
		
	&__fav-icon
		width 20px
		height 20px
		fill transparent
		stroke #93A2AD
		
	&__views
		margin-bottom 12px
		display block
		cursor pointer
			
	&__views-icon
		width 20px
		height 16px
		fill transparent
			
	&__compare
		display block
		cursor pointer
		
	&__compare-icon
		width 20px
		height 20px

	&__image
		margin auto
		margin-bottom 20px
		
	&__season
		position absolute
		top calc(50% + 3px)
		left 25px
		width 21px
		height 18px
		transform translateY(-50%)
		
		+rmin($md)
			top calc(50% + 3px)
			left 12px
			
		+rmin($lg)
			left 25px
		
		&:hover
			.card__season-text
				visibility visible
				opacity 1
				tr(all .3s ease)
		
	&__season-icon
		width 21px
		height 18px
		
	&__season-text
		position absolute
		top 50%
		left calc(100% + 15px)
		padding-top 5px
		padding-bottom 5px
		padding-right 6px
		padding-left 6px
		box-shadow 0 4px 16px rgba(0, 0, 0, 0.1)
		background-color #ffffff
		font-size 12px
		visibility hidden
		opacity 0
		transform translateY(-50%)
		tr(all .3s ease)
		
		&:after
			position absolute
			top 50%
			left -4px
			content ''
			width 0
			height 0
			border-style solid
			border-width 4px 4px 4px 0
			border-color transparent #ffffff transparent transparent
			transform translateY(-50%)
 
	&__badges
		position absolute
		top 20px
		left -1px
		max-width 96px

	&__badge
		margin-bottom 6px
		padding 0

	&__title
		margin-bottom 10px
		color #333333
		font-family $a
		font-size 16px
		font-weight 500
		line-height 1.5
		text-decoration none
		tr(all .3s ease)
		
		+rmin($md)
			margin-bottom 7px

		span
			padding-bottom 2px
			box-shadow none
		
		&:hover
			color #0d62ad
			tr(all .3s ease)
			span
				box-shadow inset 0 -1px 0 0 #DADDE0 
				
	&__availability
		position relative
		margin-bottom 11px
		padding-left 17px
		font-size 12px
		line-height 1.5
		&:after
			position absolute
			top 50%
			left 0
			content ''
			width 11px
			height 7px 
			transform translateY(-50%)
		
	&__availability_low
		color #ff9d0a
		&:after
			retinaSprite($presence_low_group)
			
	&__availability_high
		color #6bbe38
		&:after
			retinaSprite($presence_high_group)
			
	&__availability_none
		color #ff4e4e
		&:after
			retinaSprite($presence_none_group)
	
	&__bottom
		margin-top auto
		display flex
		justify-content space-between
		align-items center
		
	&__price
		color #212121
		font-family $a
		font-size 18px
		font-weight 600
		white-space nowrap
			
	&__button
		padding-top 15px
		padding-right 20px
		padding-bottom 8px
		padding-left 16px
		font-size 11px
		white-space nowrap
		
		+rmin($md)
			padding-left 13px
			padding-right 12px
			
		+rmin($lg)
			padding-top 13px
			padding-left 18px
			padding-right 15px
			font-size 12px

		
