mixin popular-sizes()
	section.popular-sizes&attributes(attributes)
		.popular-sizes__container.container
			h2.popular-sizes__title.title Популярные типоразмеры

			ul.popular-sizes__list

				li.popular-sizes__item
					.popular-sizes__size R13
					.popular-sizes__links
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
				li.popular-sizes__item
					.popular-sizes__size R13
					.popular-sizes__links
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
				li.popular-sizes__item
					.popular-sizes__size R13
					.popular-sizes__links
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
				li.popular-sizes__item
					.popular-sizes__size R13
					.popular-sizes__links
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
				li.popular-sizes__item
					.popular-sizes__size R13
					.popular-sizes__links
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
				li.popular-sizes__item
					.popular-sizes__size R13
					.popular-sizes__links
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13
						a.popular-sizes__link(href="#") 175/70 R13

			img.popular-sizes__stamp(src="assets/images/content/stamp-nokian.png", alt="stamp-nokian")