.footer
	border-top 2px solid #d9dcdf 
	background-color #Fff
	&__body
		padding-top 30px
		padding-bottom 30px
		
		+rmin($md)
			padding-top 31px
			padding-bottom 14px
			
		+rmin($lg)
			padding-top 41px
			padding-bottom 0
			
	&__container
		padding-left 15px
		padding-right 15px
		display flex
		flex-flow wrap
		justify-content space-between
		
		+rmin($md)
			padding-left 19px
			justify-content flex-start
			
		+rmin($lg)
			padding-left 16px
			align-items flex-start
		
	&__nav,
	&__contacts
		margin-bottom 30px
		flex-grow 1
		flex-shrink 0
		flex-basis 130px
		max-width 160px 
		
		+rmin($md)
			max-width 200px
			
		+rmin($lg)
			margin-bottom 0

	&__nav
		margin-bottom 10px
		
		&:nth-child(1)

			+rmin($md)
				max-width 153px
				flex-basis auto
				
			+rmin($lg)
				max-width 185px
			


		&:nth-child(2)

			+rmin($md)
				max-width 202px
				flex-basis auto
				
			+rmin($lg)
				max-width 240px

		&:nth-child(3)

			+rmin($md)
				max-width 112px
				flex-basis auto
			
			+rmin($lg)
				max-width 148px

		&:nth-child(4)

			+rmin($md)
				max-width 132px
				flex-basis auto
				
			+rmin($lg)
				max-width 175px
				
		&:nth-child(5)

			+rmin($md)
				max-width 135px
				flex-basis auto
				
			+rmin($lg)
				max-width 171px


	&__title
		margin-bottom 10px
		
		+rmin($md)
			margin-bottom 20px

	// &__list
		
	&__item
		margin-bottom 11px
		&:last-child
			margin-bottom 0
			
	&__link
		position relative
		
		padding-bottom 2px
		color #7f878e
		line-height 1.571
		text-decoration none
		tr(color .3s ease)

		&:hover
			color #0d62ad
			box-shadow inset 0 -1px 0 0 #0d62ad
			tr(color .3s ease)
			

	&__contacts
		
		+rmin($md)
			margin-top 8px
			margin-bottom 0 
			max-width 100%
			flex-basis 100%
			
		+rmin($lg)
			margin-top -1px
			flex-basis 130px

	&__bottom
		background-color #fafafa
		padding-top 20px
		padding-bottom 25px
		color #6d7378
		font-family $a
		font-weight 500
		line-height 1.714
		
		+rmin($lg)
			padding-top 22px
			padding-bottom 30px
		
		.footer__container
		
			+rmin($md)
				justify-content flex-start
		
			+rmin($lg)
				position relative
				align-items center
		
	&__copyright,
	&__privacy
		color #6d7378
		text-decoration none
		
	&__copyright
		position relative
		margin-bottom 12px
		&:after
			position absolute
			content ''
			top 50%
			right -20px
			width 1px
			height 20px
			background-color #eeeeee
			transform translateY(-50%)
			
			+rmin($lg)
				right -30px
			
		+rmin($md)
			margin-right 20px
		
		+rmin($lg)
			margin-bottom 0
			margin-right 30px

	&__privacy
		margin-bottom 20px
		
		+rmin($md)
			margin-left 20px
			
		+rmin($lg)
			margin-left 30px
			margin-bottom 0
			
		&:hover
			span
				box-shadow inset 0 -1px 0 0 #6d7378
		
	&__payments
		
		+rmin($md)
			width 100%
			
		+rmin($lg)
			// margin-left auto
			margin-top 20px
			width auto
			max-width 380px
			flex-basis 380px
		
		+rmin($xl)
			margin-top 0
			margin-left auto