.footer
	background-color #0db6ff
	color #FFF
	// overflow hidden
	&__in
		padding-top 63px
		padding-bottom 61px
		display flex
		justify-content flex-start
		align-items center
		+r($tS)
			// min-width 800px
			max-width 800px
	&__logo
		margin-right auto
		+r($tS)
			margin-right initial

	&__nav
		margin-left 92px
		max-width 510px
		+r($tS)
			margin-left 20px
			margin-right auto
		+rmin($tM)
			margin-left auto
			max-width 570px
	&__copyright
		margin-left auto
		font-size 18px
		font-weight 500
		letter-spacing 0.13px
		line-height 23px

		+r($tS)
			margin-left 0
