mixin text()
	section.text&attributes(attributes)
		.text__container.container
			figure.text__image
				img(src="assets/images/content/seo-image.png", alt="")
			.text__entry.wysiwyg
				h1 Интернет-магазин «Эксклюзив» шин в Спб
				
				p Уже двадцать лет Эксклюзив помогает жителям СПб удовлетворить спрос на летнюю и зимнюю резину. <br/>За это время наш магазин шин собрал коллектив высококвалифицированных специалистов, открыл 23 розничных магазина, а с 2005 года предоставил возможность покупать колеса и шины  в собственном  интернет-магазине.
				
				p Три склада компании предоставляют широкий ассортимент товаров: зимние шины, летние шины, диски колесные, мотошины, грузовые шины, моторные масла, аккумуляторы, фильтры, щетки стеклоочистителя, автолампы, видеорегистраторы, радар-детекторы и другие аксессуары.
				
				p Мы являемся официальными дилерами компаний с мировыми именами: Continental, Bridgestone, Pirelli, Matador, Michelin, Tigar, Barum, Toyo, Gislaved. В распоряжении наших клиентов качественный шиномонтаж, а также сезонное хранение шин. Продажа шин  и дисков – наша основная спецификация, поэтому мы знаем о них все.

					
