include ../cards/cards

mixin featured()
	// start featured

	section.featured&attributes(attributes)
		.featured__container.container

			h2.featured__title.title Хиты продаж

			.featured__tabs.tabs.tabs_featured
				ul.tabs__nav
					li.tabs__item
						a.tabs__link() Популярное
					li.tabs__item
						a.tabs__link() Акция
					li.tabs__item
						a.tabs__link() Рекомендуем
					li.tabs__item.active
						a.tabs__link() Шины
					li.tabs__item
						a.tabs__link() Диски

				.tabs__content

					.tabs__tab

						#popularSlider.featured__list
							+cards()
						#popularNav.featured__nav

					.tabs__tab 
						#salesSlider.featured__list
							+cards()
						#salesNav.featured__nav

					.tabs__tab 
						#recommendSlider.featured__list
							+cards()
						#recommendNav.featured__nav

					.tabs__tab.active

						#tyresSlider.featured__list
							+cards()
						#tyresNav.featured__nav
							
					.tabs__tab 
			
						#disksSlider.featured__list
							+cards()
						#disksNav.featured__nav



			
	// end featured	


	




